@charset "UTF-8";

@import 'https://fonts.googleapis.com/css?family=Indie+Flower';
* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background-color:#F5F5F5;
  color: 67727A;
  font-family: 'Indie Flower', cursive;
  margin: 0;
}
h2 {
  font-size: 180%;
  font-weight: 700px;
  text-align: center;
  padding-top: 2%
}
h3 {
  font-size: 175%;
  line-height: 155%;
  padding: 5% 0;
}
p {
  font-size: 110%;
  line-height: 150%;
  padding: 1%;
  text-indent: 2%;
  text-align: justify;
  color: #F5F5F5;
}
img {
  max-width: 100%;
  height: auto;
  width: auto;
  margin-bottom: -4px;
}
header {
  background-color: #6991AC;
  width: 100%;
  height: 86px;
}
#header-inner {
  max-width: 1200px;
  margin: 0 auto;
}
#logo {
  margin: 20px;
  float: left;
  width: 200px;
  height: 60px;
  background: url(https://res.cloudinary.com/dgpmuegqe/image/upload/v1492571257/RD_ocobwj.png) no-repeat center;
}
/*---start navigation---*/
nav {
  float: right;
  padding: 25px 20px 0 0;
}
#menu-icon {
  display: hidden;
  width: 40px;
  height: 40px;
  background: url(https://res.cloudinary.com/dgpmuegqe/image/upload/v1492571257/nav_xe79ju.png) center;
}
a:hover#menu-icon {
  border-radius: 4px 4px 0 0;
}
ul {
  list-style-type: none;
}
nav ul li {
  font-size: 150%;
  display: inline-block;
  float: left;
  padding: 10px;
}
nav ul li a {
  color: #F5F5F5;
  text-decoration: none;
}
nav ul li a:hover {
  color: #C3D7DF;
}
.current {
  color: #C3D7DF;
}
/*---end of navigation---*/
.banner {
  width: 100%;
  background-color: #6991AC;
}
.banner-inner {
  max-width: 1100px;
  margin: 0 auto;
}
.one-fourth {
  width: 25%;
  float: left;
  text-align: center;
}
#html {
  background-color: #F1AA90;
}
#css {
  background-color: #8BE9AD;
}
#seo {
  background-color: #AADCD2;
}
#social {
  background-color: #A2b2C1;
}
.one-fourth i {
  color: #F0F0F0;
  font-size: 500%;
  padding: 13% 0 4% 0;
}
.inner-wrapper {
  float: left;
  width: 100%;
  background-color: #C3D7DF;
}
article {
  float: left;
  width: 50%;
  margin; 0 auto;
  height: auto;
}
#tablet {
  background-color: #C3D7DF;
}
aside {
  width: 50%;
  float: right;
  margin: 0 auto;
  height: auto;
}
#tablet2 {
  background-color: #A2B1C1;
}
#mobile {
  background-color: #BEB9AD;
}
#desktop {
  background-color: #F1AA90;
}
.inner-wrapper-2 {
  width: 100%;
  float: left;
  background-color: #C3D7DF;
}
.inner-wrapper-3 {
  width: 100%;
  float: left;
  background-color: #AADCD2;
}
.one-third {
  width: 33.33333333%;
  float: left;
  text-align: center;
}
#google {
  background-color: #A2B1C1;
}
#marketing {
  background-color: #BEB98D;
}
#customers {
  background-color: #AADCD2;
}
#smelly {
  background-color: #AADCD2;
  padding: 0 0 1%;
  clear: both;
}
/*--footer---*/
footer {
  background-color: #6991AC;
  width: 100%;
}
.social {
  list-style-type: none;
  text-align: center;
}
.social li {
  display: inline;
}
.social i {
  font-size: 450%;
  margin: 1%;
  padding: 5% 5% 5% 4%;
  color: #C3D7DF;
}
.social i:hover {
  color: #f5f5f5;
}
/*--- begining of second footer---*/
footer.second {
  border-top: 2px solid #AADCD2;
  background-color: #544859;
  max-height: 35px;
}
footer.second p{
  text-align: center;
}
 *, html, body {
    margin:0;
    padding:0;

  }
  ... /* mais regras CSS reset */

  /* regra para o box-sizing */
  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* regra para o clear float */
  .cf:before,
  .cf:after {content: " ";display: table;}
  .cf:after {clear: both;}
  .cf {*zoom: 1;}
  body {
    margin-left:55px;
    font:  62.5%/1.2 Verdana, Helvetica, Arial, sans-serif;
  }
  #lateral {
    padding:0 50px 0 0;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-size:1.2em;
    background:rgb(44,62,80);
    background-image: -moz-linear-gradient( 135deg, rgb(3,8,12), rgb(16,57,79) );
    background-image: -webkit-linear-gradient( 135deg, rgb(3,8,12), rgb(16,57,79) );
    background-image: -o-linear-gradient( 135deg, rgb(3,8,12), rgb(16,57,79) );
    background-image: -ms-linear-gradient( 135deg, rgb(3,8,12), rgb(16,57,79) );
    background-image: linear-gradient( 135deg, rgb(3,8,12), rgb(16,57,79) );
    height:100%;
    overflow:hidden;
    width:370px; 
    position:fixed;
    top:0;
    left:-320px;
  }
  #lateral:before {
    z-index:1000;
    content: url(icone-menu.png);
    font-size:4em;
    color:white;
    position:fixed;
    left:4px;
    top:45px;
  }
  #lateral:hover:before, #lateral:focus:before {
    left:-500px
  }
  #lateral:hover, #lateral:focus,  #lateral:active  {
    overflow-y:scroll;
    -moz-transform: translate(320px, 0);
    -webkit-transform: translate(320px, 0);
    -o-transform: translate(320px, 0);
    transform: translate(320px, 0);
    padding-right:0;
  } 
  #lateral .box {
    list-style-type:none;
    margin-bottom:1em;;
    padding-bottom:1em;
  }
  #lateral h3 {
    display:inline-block;
    font-weight:bold;
    font-size:1.6em;
    font-style:normal;
    padding-bottom:0.2em;
    margin: 2em 0 2em 0.81em;
    color:rgb(255,255,255);
    border-bottom: 4px solid rgb(155,155,155);
  }
  #menu {
    font-style:italic;
    position:relative;
    font-size:1.0em;
    margin:1em 0 1em -1em;
    padding:0;
  }
  #menu li {padding:0; margin:0;}
  #menu li a,  #menu li a:link {
    font-size:1.2em;
    color:rgb(255,255,255);
    text-decoration: none;
    padding: 0.8em 0 0.8em 1em;
    display: block;
    -moz-transition: all 1.2s ease;
    -webkit-transition: all 1.2s ease;
    -o-transition: all 1.2s ease;
    transition: all 1.2s ease;
  }
  #menu li a:hover {
    color:rgb(255,255,255);
    background-color:rgba(255,255,255,0.2);
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  @media (max-width: 500px) {
    body {margin-left:0;background-size:100% 28em!important;}
    #lateral {
      padding:0;
      -moz-transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      font-size:1.2em;
      height:100%;
      overflow:auto;
      width:100%; 
      position:static;
      top:0;
      left:0;
    }
    #lateral:before {
      z-index:1000;
      width:0;
      text-align:center;
      content: "";
      font-size:0;
      color:white;
      position:static;
      top:0;
      left:0;
      display:inline-block; 
    }
    #lateral:hover, #lateral:focus {
      overflow:scroll;
      -moz-transform: none;
      -webkit-transform: none;
      -o-transform:none;
      transform:none;
    }
    #menu li a {border-bottom:1px solid #ccc;}
    #menu li:first-child a {border-top:1px solid #ccc;} 
  }
  .container{
    width: 50%;
    height: 200px;
    margin: auto;
    background: red;
  }

/*---media start----*/
@media only screen and (max-width: 1008px){
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 2rem;
  }
  p {
    font-size: 1.2rem;
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }
  header {
    position: absolute;
  }
  #logo {
    margin: 15px 0 20px 25px;
    background: url(https://res.cloudinary.com/dgpmuegqe/image/upload/v1492571257/RD_mobile_sapd7z.png) no-repeat center;
  }
  #menu-icon {
    display: inline-block;
    }
  nav ul, nav:active ul {
    display: none;
    z-index: 1000;
    position: absolute;
    background: #6991AC;
    padding: 20px;
    right: 20px;
    top: 60px;
    border: 1px solid #fff;
    border-radius: 2px 0 2px 2px;
    width: 50%;
  }
  nav:hover ul {
    display: block;
  }
  img{
    width: 1000px;
  }
  nav li {
    text-align: center;
    width: 100%;
    padding: 10px 0;
  }
  .banner {
    padding-top: 86px;
  }
  .one-fourth {
    float: left;
    width: 100%;
  }
  .one-fourth i {
    font-size: 350%;
    padding: 4% 0 1% 0;
  }
  article {
    width: 100%;
  }
  aside {
    width: 100%;
  }
  .hand-mobile {
    display: none;
  }
  .one-third {
    width: 100%;
  }
  .social i {
    font-size: 180%;
  }
  #menu .box li a{
    font-size: 2rem;
  }
  #menu > h3{
    font-size: 2rem;
  }
}


   /*==========================================================================================================================*/
  